---
var {text, link} = Astro.props;
---

<a href={link}>



    <button class="outline outline-purple-400  px-4 rounded-md
            shadow-lg  py-1 h-10 max-md:hidden 
            text-white font-mono font-bold text-xl hover:bg-slate-100
            hover:text-purple-400 hover:shadow-purple-600  transition-all duration-300">
            {text}
        </button>


</a>