---
//Variables
var {name = "First", image = "/src/images/mountain.jpg"} = Astro.props;


//Image imports

import mountain from "/src/images/mountain.jpg"

---




<div class="max-w-sm rounded overflow-hidden shadow-lg bg-slate-200">

    <img class="w-full object-cover h-64 " src={image}>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{name}</div>
      <p class="text-gray-700 text-base">
        <slot></slot>
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
     <slot name="tags"></slot>
    </div>
  </div>