---
//Layout imports
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
//Component Imports

//Image imports



---

<Layout title="| Contact">
<!-- Navbar -->
<Nav> <span slot="contact" class="text-blue-300 shadow-2xl shadow-orange-600 ">CONTACT</span></Nav>





    <!-- Footer -->
    <Footer></Footer>
</Layout>