---
//Layout imports
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
//Component Imports
import ContactForm from '/src/components/ContactForm.astro'
//Image imports



---

<Layout title="| Contact">
<!-- Navbar -->
<Nav> <span slot="contact" class="text-blue-300 shadow-2xl shadow-orange-600 ">CONTACT</span></Nav>
<ContactForm></ContactForm>




    <!-- Footer -->
    <Footer></Footer>
</Layout>