---
// Layout
import Layout from '../layouts/Layout.astro';

// Components
import Nav from '../components/Nav.astro';

//Image import
import mountain from '../images/mountain.jpg';
---

<Layout>
  <div class="bg-black h-52 w-full relative">
    <img src={mountain}  alt="" class="w-full h-full object-cover absolute bg-fixed"> 



    <div class="absolute w-full">
      <Nav></Nav>

    </div>

    
  </div>
	


</Layout>