---
//Layout imports
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
//Component Imports

//Image imports



---

<Layout title="| Olympian">
<!-- Navbar -->
<Nav> <span slot="olympian" class="text-blue-300">O L Y M P I A N</span></Nav>





    <!-- Footer -->
    <Footer></Footer>
</Layout>