---

// Image imports
import logo from "../images/logo.png";

// Components
import NavLink from "./NavLink.astro";
---


<div class="h-16 bg-slate-800 m-4 rounded-2xl flex flex-row justify-between">
  <!-- Logo -->
  <a href="/">
      <img src={logo} alt="Logo" class="my-2 mx-6 h-12 " /> 
  </a>

  <!-- Pages -->
  <div class="my-auto">

    <NavLink title="Home" link="/" />
    <NavLink title="Page 1" link="/" />
    <NavLink title="Page 2" link="/" />
    <NavLink title="Page 3" link="/" />
    <NavLink title="Page 4" link="/" />


  </div>
  

  <!-- Buttons -->
  <div class="my-auto mx-10 ">
    <a href="/" class="my-auto mr-6 inline-block leading-none">
      <button class="  bg-blue-700 h-10 w-auto rounded-2xl transition duration-150 ease-in-out hover:scale-110">
        <h1 class="mx-2 font-mono">
          Button
        </h1>  
      </button>
    </a>




  </div>



</div>