---
var {time, title, text } = Astro.props
import TimelineCard from './cards/TimelineCard.astro'

import AlertButton from './buttons/AlertButton.astro'
---


<ol class="relative border-l border-gray-700 max-md:ml-8 mr-4 ">                  
   
<!-- Event 5 -->
   <TimelineCard title="Website Finished" date="April 2023" >
    <div slot="title">
        <AlertButton>Latest</AlertButton>
    </div>
    The website has finally been finished after living for 1 month in Anish's basement. He finaly released me. FREEDOM!!!
    </TimelineCard>

    <!-- Event 4 -->
   <TimelineCard title="Gait Generation Algorithm Complete" date="March 2022" >
    Inverse Kinematics-driven gait generation algorithm demo displayed Olympian walking with a human-like gait in simulation. The highly-scalable algorithm is able to generate a human-like gait trajectory given just a step height and a step length.


    
    </TimelineCard>

<!-- Event 3 -->
    <TimelineCard title="Lower Body Design Complete" date="February 2022" >
  

        Lower body design complete in CAD, leg manufacturing begun.

    </TimelineCard>
    <!-- Event 2 -->
 
    <TimelineCard title="Blance Algorithm Complete" date="July 2021" >
  

        Modified PID balance algorithm demo showed Olympian balancing in simulation after receiving a 4500 N impact to the chest.
    </TimelineCard>
    <!-- Event 1 -->
 
    <TimelineCard title="Potentia Robotics Created" date="December 2020" >
  

        Potentia Robotics was created with an initial team of 15 people, comprised of students from the Thomas Jefferson High School for Science and Technology.

    </TimelineCard>
 
</ol>
