---
var {title}  = Astro.props;
var backgroundColor = Astro.props;

//Imports
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Potentia Robotics  {title}</title>
	</head>


	<body class='bg-slate-900'>
	

		<!-- Content -->
        <slot></slot>

		<!-- Footer -->
		<Footer></Footer>

	</body>
</html>
